extends base.pug

block script 
    script(src='../static/script.js')

block style
    style 
        include ../static/style.css 
        include ../static/aboutstyle.css

block content
  section#intro 
    
  section#container
        h1  About Us
        div.container-1
            p With an aim to provide quality dance training and making dance available to all, 
             | DANCESTER dance classes run throughout the year at multiple locations for students 
             | from ages four to eighty four providing them with training in various dance styles 
             | by Shiamak’s expert faculty. The classes give them an opportunity to learn dance, 
             | express themselves creatively and perform on stage. Classes are available for 
             | children (4 to 6 years), juniors (7 to 11 years) and adults (12 years onwards).
             br 
             br
             The DANCESTER Dance Academy is one of the biggest dance education centers in India with acclaimed certified courses, unique teaching methodology, experienced faculty and premium amenities. It is a multi-activity center which aims to promote various dances styles and other different performing art forms. We provide several professional certified and intensive training programs for students who are enthusiastic about dance and want to enrich their skills and make a career in the field of dance.
            img(src="../static/images.jpg")

        div.container-2
            img(src="../static/images1.jpg")
            p A specially designed program that forms a part of the school’s regular curriculum, 
              | DANCESTER Dance Education Program (DDE) reaches out to children empowering them with the 
              | power of the performing arts at the convenience of their school premises. Its objective 
              | is to offer every student training, knowledge of fundamentals, styles and techniques.
              |  It also helps students to de-stress and develop well-rounded personalities.
              | Students are taught the various aspects of musical theatre and stage performance. 
              | They are empowered with technical knowledge, spatial awareness and performance guidelines.
              |  The complete performing arts experience helps students overcome stage fright, 
              | become more confident, learn to work in teams and feel a great sense of achievement.
    
     

